<div class="container">
    <div class="img-container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71f749qfqCL._AC_SX466_.jpg" alt="kawaii Burger">
    </div>
    <h1>Eat-Da-Burger</h1>
    <div class="lists-continer">
        {{!-- This is not Devoured --}}
        <h3>Not Devoured</h3>
        <ul>
         {{#each burgers}}
            {{#with dataValues}}
            {{#unless isDevoured}}
         <li>
             Name: {{ name }} <button class="devour" data-id="{{id}}">Devour it </button>
         </li>
            {{/unless}}
            {{/with}}
         {{/each}}
        </ul>
        {{!-- This is Devoured --}}
        <h3>Devoured</h3>
        <ul>
        {{#each burgers}}
             {{#if dataValues.isDevoured}}
         <li>
             Name: {{ dataValues.name }} 
         </li>
            {{/if}}
         {{/each}}
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>


<script>
    $('.devour').click( async (e) => {
        const $currentTarget = $(e.currentTarget);
        const id = $currentTarget.data('id');
       await $.ajax({
            method: 'PUT',
            url: `/api/burger/${id}/devour`
        });
        location.reload();
    });
    
</script>