<div class="container">
    <div class="img-container">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71f749qfqCL._AC_SX466_.jpg" alt="kawaii Burger">
    </div>
    <h1>Eat-Da-Burger</h1>
    <div class="lists-continer">
        {{!-- This is not Devoured --}}
        <ul></ul>
        {{!-- This is Devoured --}}
        <ul></ul>

    </div>
</div>

{{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script>
    $.ajax({
        url: '/api/burgers'
    }).then((data)=> {
        console.log(data);
    })
</script> --}}